/* resets */

body {
  margin: 15px;
  background-color: #f9fafc;
  font-family: "Open Sans", sans-serif;
}

div {
  padding: 0;
  margin: 0;
}

a:visited {
  color: #fff;
}

h1 {
  font-weight: 500;
  font-size: 12px;
}

.button {
  background-color: #000;
  border: none;
  font-weight: 400;
  font-size: 10px;
  color: #fff;
  padding: 5px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 0;
  cursor: pointer;
  border-radius: 16px;
}

h2 {
  font-weight: 500;
  font-size: 22px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  padding-bottom: 7px;
  font-size: 11px;
  color: #69696a;
}

nav ul li a:visited {
  color: #69696a;
}

section {
  margin-top: 25px;
}

section div p {
  font-weight: 400;
  font-size: 11px;
  color: #69696a;
  border-left: solid 2.5px;
  padding-left: 10px;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(247, 193, 162, 0.7);
  display: flex;
  justify-content: space-between;
  padding: 7px;
}

footer div ul {
  display: flex;
  padding-left: 0;
  margin: 0;
}

footer div ul li {
  list-style: none;
  display: flex;
  justify-content: space-around;
  font-weight: 500;
  font-size: 11px;
  color: #69696a;
  padding-right: 20px;
}

footer div ul li a:visited {
  color: #69696a;
}

h3 {
  font-weight: 500;
  font-size: 11px;
  margin: 0 0 0 0;
}
a {
  text-decoration: none;
}
